@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: rgb(116, 39, 179);
    font-family: 'Noto Sans JP', sans-serif;
}
.search-box{
    padding: 10px;
    margin: 50px;
    border: none;
    outline: none;
    font-size: 18px;
    border-bottom: 3px solid orange;
    background-color: rgba(132, 103, 155, 0.5);
    border-radius: 10px 0px;
    width: 250px;
}
.app-wrap{
    text-align: center;
    color: white;
}
.city{
    font-size: 30px;
}
.date{
    font-size: 15px;
    margin-bottom: 20px;
}
.temp{
    font-size: 100px;
    font-weight: 900;
    margin-bottom: 20px;
    text-shadow: 2px 8px 4px #000000;
}
.weather{
    font-style: italic;
    font-size: 29px;
    font-weight: 900;
    margin-bottom: 10px;
}
.hi-low{
    font-size: 23px;
}